 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-angularjs-plain colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>I create modern designs based on thorough market research. My go-to frontend framework is Angular but why use a heavy framework when you don't need it?
        Checkout this lightweight site </p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-postgresql-plain-wordmark colored"></i>
      <p>Writing code is the most fun! My expertise lies in server-side development in Java with and without Spring Boot. I love to work with Postgres for all my database needs</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain-wordmark colored"></i>
      <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
      <i class="devicon-docker-plain colored"></i>
      <p>Modern Software Development needs modern tools. I am very familiar with many of AWS services and I am not afraid to spin up my own barbone Linux server to setup a custom build and deploy pipeline</p>
    </div>
</div>
