<div class="user-details">
  <h1> Personal Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/asklocal.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> AskLocal </h3>
    <ul>
      <li>Android</li>
      <li>Spring Boot</li>
      <li>Angular</li>
    </ul>
    <p>Co-Founder of an location based Q&A app which was launched in Switzerland. Creating the backend service and developed the Android app. Maintaining the AWS infrastructure</p>
    <a class="project-link" href="https://asklocal.app">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/ufoid.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> UFOID </h3>
    <ul>
      <li>C++, Qt</li>
      <li>OpenCV</li>
      <li>Angular</li>
      <li>Spring Boot</li>
    </ul>
    <p>Founder and developer of a now open source software that detects and records unknown objects using various computer vision algorithms. Featured on techtimes.com and metro.co.uk. Leading the development of ufoid.net and managing the GitHub repository</p>
    <a class="project-link" href="https://ufoid.net">Check it out</a>
  </div>
</div>
